/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
   *= require_tree .
 *= require_self
 *= require social-share-button
 */
 @import "bootstrap";

$body-color: #f6f5d5;
$footer-color: #ffc107;
body {
  height: 100%;
  background-color: $body-color;
  font-family: proxima-nova,
  'Helvetica Neue',
   Arial, Helvetica, sans-serif;
}
footer {
  background-color: $footer-color;
  color: white;
  margin-top: 50px;
}

.picture-preview-thumb {
  width: 600px;
  height: 500px;
}
.picture-preview-large {
  width: 700px;
  height: 550px;
  margin-top: 25px;
}
.show-pic {
  margin-top: 15px;
}
.card-img-top {
  margin-top: 10px;
}
.new-picture {
  margin-bottom: 10px;
}
.card-margin {
  margin-bottom: 10px;
  margin-topT: 10px;
}
#notice {
  color: green;
}
.img-small-size {
  width: 200px;
  height: 150px;

}
@media only screen and (max-width: 768px) {
  .img-small-size {
  width: 270px;
  min-height: 230px;
  }
}
.total {
  margin-top: 30px;
}
.fas.fa-palette {
  font-size: 23px;
}
.fab.fa-sellcast {
  font-size: 20px;
}
.card.border-warning {
  width: 270px;
  min-height: 200px;
}
@media only screen and (max-width: 768px) {
  .card.border-warning {
  width: 320px;
  min-height: 250px;
  }
}
@media only screen and (max-width: 768px) {
  .card.border-warning.mb-2 {
  width: 320px;
  min-height: 250px;
  }
}
@media only screen and (max-width: 768px) {
  .picture-preview-large {
    width: 350px;
    height: 250px;
    margin-top: 25px;
  }
}
@media only screen and (max-width: 400px) {
  .picture-preview-large {
    width: 250px;
    height: 200px;
    margin-top: 25px;
  }
}
.card.border-warning.mb-2 {
  min-width: 200px;
  min-height: 200px;
}
.row.row-center {
  margin-right: 0 !important;
  margin-left: 0 !important
}
.form-search {
  display: flex;
}

.pagination {
  display: inline-block;
}

.pagination a {
  padding: 8px 16px;
  text-decoration: none;
}
.fas.fa-palette.big {
  font-size: 80px;
}

.form-search {
  display: flex;
}

.pagination {
  display: inline-block;
}

.pagination a {
  padding: 8px 16px;
  text-decoration: none;
}

.fas.fa-paint-brush.big {
  font-size: 60px;
 }

@media only screen and (max-width: 768px) {
  .fas.fa-palette.big {
    font-size: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .fas.fa-paint-brush.big {
    font-size: 25px;
  }
}

.social-share-button {
  .ssb-icon {
    background-size: 30px 30px ;
    height: 20px ;
    width: 20px ;
  }
}
@media only screen and (max-width: 768px) {
  .mb-5.text-center {
    font-size: 10px;
  }
}
.img-show {
  width: 18rem;
}
@media only screen and (max-width: 768px) {
  .img-show {
    width: 13rem;
  }
}
.social-share-button-twitter {
    display: inline-block !important;
    background-repeat: no-repeat !important;
    background-size: 100px 80px !important;
    background-position: -60px -60px !important;
    height: 20px !important;
    width: 20px !important;
    margin-top: 10px;
}
.social-share-button-facebook {
    display: inline-block !important;
    background-repeat: no-repeat !important;
    background-size: 100px 80px !important;
    background-position: -40px 0px !important;
    height: 20px !important;
    width: 20px !important;
    margin-top: 10px;
}
